<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mastermind Flask</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
</head>
<body>
    <h1>Mastermind Py</h1>
    <div class="board"> 
        <form action="{{ url_for('guess') }}" method="post">>
            <div class="row">
                <div class="peg"></div>
                <div class="peg"></div>
                <div class="peg"></div>
                <div class="peg"></div>
                <button type="submit">Guess</button>
            </div>
        </form>
    </div>       
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script>
        const colors = [
            "rgb(255, 17, 17)",
            "rgb(17, 255, 17)",
            "rgb(17, 17, 255)",
            "rgb(17, 255, 255)",
            "rgb(255, 17, 255)",
            "rgb(255, 255, 17)"];
        
        $(".peg").on("click", function() {
            let color = $( this ).css( "background-color" );
            let colorIndex = colors.findIndex((rgb) => rgb == color);
            colorIndex++;
            if(colorIndex >= colors.length) colorIndex = 0;
            $( this ).css( "background-color", colors[colorIndex]);
        });

    </script>
</body>
</html>