<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mastermind Py</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
</head>
<body>
    <div class="container"> 
        <header>
            <h1>Mastermind Py</h1>
            <div class="swatch"></div>
        </header>
        <hr>
        <p>to change a Peg color : pick and click.  then : click Guess.</p>
        <form id="guess" action="{{ url_for('guess') }}" method="post">
            <div class="row">
                <div class="pegs">
                    <div class="peg"><span class="peg-symbol"></span></div>
                    <div class="peg"><span class="peg-symbol"></span></div>
                    <div class="peg"><span class="peg-symbol"></span></div>
                    <div class="peg"><span class="peg-symbol"></span></div>
                </div>
                <button id="guess-btn" type="submit">Guess</button>
                <button id="replay-btn" type="button">New Game</button>
            </div>
            <h2 id="game-msg"></h2>
        </form>
        <hr>
        <div class="board"></div>
        <footer>
            <div><small class="copyright">&copy; 2020 🖖 logic friendly 🖖</small></div>
            <div><small class="credits">Photo by Mathew Schwartz on Unsplash</small></div>
        </footer>
    </div>       

<!--     <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
 -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
    <script src="{{ url_for('static', filename='mm.js')}}" ></script>
</body>
</html>